@import url(./fonts.css);
@import url(./globals.css);
@import url(./grid-s.css);
header {
  background-color: var(--c-warm-vanilla);
  padding: 54px 0;
}
header .row {
  justify-content: space-between;
}
header .col-auto {
  display: flex;
  gap: 60px;
  align-items: center;
}
header .col-auto .links {
  display: flex;
  gap: 45px;
}
header .col-auto .links a {
  color: var(--c-jet-black);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
header .col-auto .button button {
  color: var(--c-white);
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 218px;
  background: var(--c-grape-purple);
  width: 191px;
  height: 65px;
}

.hero-section .row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.hero-section .row h1 {
  color: var(--Primary-Black, #050c26);
  font-family: Roboto;
  font-size: 69px;
  font-style: normal;
  font-weight: 800;
  line-height: 135%;
}
.hero-section .row h1 span {
  color: #ff7426;
  font-family: Roboto;
  font-size: 69px;
  font-style: normal;
  font-weight: 800;
  line-height: 135%;
}
.hero-section .row p {
  color: #8a8a8a;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 171%;
}
.hero-section .row form {
  width: 568px;
  height: 79px;
  border-radius: 96px;
  background: #fff;
}
.hero-section .row form input {
  color: #0f335e;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero-section .row form button {
  width: 158px;
  height: 69px;
  border-radius: 96px;
  background: #4d2c5e;
  color: #fff;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero-section .row .img .opject {
  width: 890.138px;
  height: 543.952px;
}
.hero-section .hero-card {
  width: 1432px;
  height: 277px;
  border-radius: 14px;
  background: #4d2c5e;
}
.hero-section .hero-card .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section .hero-card .row .item {
  width: 419px;
  height: 137px;
  display: flex;
  gap: 25px;
}
.hero-section .hero-card .row .item .img {
  width: 102px;
  height: 101px;
  border-radius: 23px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 24px;
}
.hero-section .hero-card .row .item .img img {
  width: 54px;
  height: 54px;
}
.hero-section .hero-card .row .item .text-group {
  width: 292px;
  height: 137px;
  gap: 16;
}
.hero-section .hero-card .row .item .text-group h6 {
  color: #fff;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero-section .hero-card .row .item .text-group p {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.our-tracks-1 {
  margin-top: 210px;
  margin-bottom: 154px;
  position: relative;
}
.our-tracks-1 .IdeaLamp {
  position: absolute;
  top: 0;
  left: 81px;
  z-index: -1;
}
.our-tracks-1 .Arrow {
  position: absolute;
  top: 0;
  right: 23px;
  z-index: -1;
}
.our-tracks-1 .heading-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 9px;
  margin-bottom: 65px;
}
.our-tracks-1 .heading-text h2 {
  color: var(--c-black);
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}
.our-tracks-1 .heading-text p {
  color: #8a8a8a;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.our-tracks-1 .row {
  row-gap: 70px;
  justify-content: center;
}
.our-tracks-1 .row article {
  padding: 13px;
  padding-bottom: 50px;
  border-radius: 14px;
  background: var(--c-white);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.our-tracks-1 .row article .img img {
  border-radius: 14px;
  width: 100%;
  transition: all 0.3s;
}
.our-tracks-1 .row article .img img:hover {
  scale: 1.02;
}
.our-tracks-1 .row article .text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.our-tracks-1 .row article .text .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-tracks-1 .row article .text .rating h6 {
  color: var(--c-silver-gray);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.our-tracks-1 .row article .text .rating .stars {
  display: flex;
  align-items: center;
  gap: 2px;
}
.our-tracks-1 .row article .text .rating .stars span {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_4_3457)'%3E%3Cpath d='M8.77243 0.829716L10.577 4.48629C10.7025 4.7406 10.9451 4.91682 11.2258 4.95754L15.2612 5.54394C15.9681 5.64674 16.2501 6.51516 15.7388 7.01345L12.8188 9.85967C12.6159 10.0576 12.5231 10.3429 12.5712 10.6223L13.2604 14.6413C13.3812 15.3452 12.6423 15.8819 12.0101 15.5498L8.40097 13.6524C8.14999 13.5206 7.84994 13.5206 7.59896 13.6524L3.98978 15.5498C3.35766 15.8822 2.61874 15.3452 2.73955 14.6413L3.42875 10.6223C3.47681 10.3429 3.38403 10.0576 3.18111 9.85967L0.261123 7.01345C-0.250182 6.51482 0.0318366 5.6464 0.73872 5.54394L4.7741 4.95754C5.05478 4.91682 5.29742 4.7406 5.42291 4.48629L7.2275 0.829716C7.54323 0.189248 8.45637 0.189248 8.77243 0.829716Z' fill='%23F9D4AB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4_3457'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
}
.our-tracks-1 .row article .text .rating .stars span:hover,
.our-tracks-1 .row article .text .rating .stars .active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_4_3459)'%3E%3Cpath d='M8.77243 0.829716L10.577 4.48629C10.7025 4.7406 10.9451 4.91682 11.2258 4.95754L15.2612 5.54394C15.9681 5.64674 16.2501 6.51516 15.7388 7.01345L12.8188 9.85967C12.6159 10.0576 12.5231 10.3429 12.5712 10.6223L13.2604 14.6413C13.3812 15.3452 12.6423 15.8819 12.0101 15.5498L8.40097 13.6524C8.14999 13.5206 7.84994 13.5206 7.59896 13.6524L3.98978 15.5498C3.35766 15.8822 2.61874 15.3452 2.73955 14.6413L3.42875 10.6223C3.47681 10.3429 3.38403 10.0576 3.18111 9.85967L0.261123 7.01345C-0.250182 6.51482 0.0318366 5.6464 0.73872 5.54394L4.7741 4.95754C5.05478 4.91682 5.29742 4.7406 5.42291 4.48629L7.2275 0.829716C7.54323 0.189248 8.45637 0.189248 8.77243 0.829716Z' fill='%23FFA135'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4_3459'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.our-tracks-1 .row article .text h4 {
  color: var(--c-black);
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
}
.our-tracks-1 .row article .text h5 {
  color: var(--c-burnt-orange);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.our-tracks-1 .row article hr {
  border: 0;
  border-bottom: 1px dashed var(--c-silver-gray);
  background: transparent;
}
.our-tracks-1 .row article .statistics {
  display: flex;
  align-items: center;
  gap: 14px;
}
.our-tracks-1 .row article .statistics .icon {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--c-silver-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.our-tracks-1 .row article a {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: -27.5px;
  width: 207px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 96px;
  background: var(--c-burnt-orange);
  border: 2px solid var(--c-burnt-orange);
  color: var(--c-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s;
}
.our-tracks-1 .row article a:hover {
  background: var(--c-white);
  color: var(--c-burnt-orange);
}

@media (max-width: 795px) {
  .our-tracks-1 .IdeaLamp,
  .our-tracks-1 .Arrow {
    display: none;
  }
}
.premium-learning .container .row .col-auto .opject {
  width: 516.953px;
  height: 644.092px;
}
.premium-learning .container .row .col-auto h1 {
  color: #050c26;
  font-family: Roboto;
  font-size: 69px;
  font-style: normal;
  font-weight: 800;
  line-height: 135%;
}
.premium-learning .container .row .col-auto h1 span {
  color: #ff7426;
  font-family: Roboto;
  font-size: 69px;
  font-style: normal;
  font-weight: 800;
  line-height: 135%;
}
.premium-learning .container .row .col-auto .item .icon {
  width: 102px;
  height: 101px;
  border-radius: 23px;
  background: #4d2c5e;
}
.premium-learning .container .row .col-auto .item .icon img {
  width: 52px;
  height: 52px;
  justify-items: center;
}
.premium-learning .container .row .col-auto .text h6 {
  color: #050c26;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 171%;
}
.premium-learning .container .row .col-auto .text p {
  color: #8a8a8a;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 171%;
}
.premium-learning .container .heading-text {
  text-align: center;
  padding-bottom: 50px;
}
.premium-learning .container .heading-text h2 {
  color: #050c26;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 167.5%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
.premium-learning .container .heading-text p {
  color: #8a8a8a;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.premium-learning .container article p {
  color: #acacac;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 156.5%;
  letter-spacing: 0.38px;
  padding-bottom: 24px;
}
.premium-learning .container article .person .icon img {
  width: 47px;
  height: 47px;
  border-radius: 47px;
}
.premium-learning .container article .person .text h6 {
  color: #353535;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 156.5%;
  letter-spacing: 0.34px;
}
.premium-learning .container article .person .text p {
  color: #8e8e8e;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 156.5%;
  letter-spacing: 0.26px;
}

.our-tracks-2 {
  margin-top: 210px;
  margin-bottom: 154px;
  position: relative;
}
.our-tracks-2 .Arrow {
  position: absolute;
  top: 0;
  left: 119px;
  z-index: -1;
  transform: rotate(-30deg);
}
.our-tracks-2 .PlanetWithDisk {
  position: absolute;
  top: 0;
  right: 146px;
  z-index: -1;
}
.our-tracks-2 .heading-text {
  text-align: center;
  padding-bottom: 65px;
}
.our-tracks-2 .heading-text h2 {
  color: #000;
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}
.our-tracks-2 .heading-text p {
  color: #8a8a8a;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.our-tracks-2 article {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  border: 1px solid #000;
  background: #fff;
}
.our-tracks-2 article img {
  border-radius: 14px;
  background: #b17373;
}
.our-tracks-2 article .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.our-tracks-2 article .text h5 {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.our-tracks-2 article .text h6 {
  color: #868686;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.our-tracks-2 article .text p {
  color: #acacac;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.5%;
}
.our-tracks-2 article .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.our-tracks-2 article .social p {
  color: #ff7426;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.our-tracks-2 article .social img {
  width: 38px;
  height: 38px;
  background: #f9f9f9;
}

.subscribe .container {
  padding: 0px 48px;
}
.subscribe .subscribe_frame {
  width: 100%;
  min-height: 429px;
  margin-top: 159px;
  margin-bottom: 126px;
  background: url(../img/subscribe-section/subscribe-group.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 15px;
}
.subscribe .subscribe_text_group h1 {
  color: var(--c-white);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-bottom: 13px;
}
.subscribe .subscribe_text_group p {
  color: var(--c-white);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 41px;
}
.subscribe form {
  width: 100%;
  max-width: 610px;
  height: 80px;
  position: relative;
}
.subscribe form input {
  width: 100%;
  max-width: 610px;
  height: 80px;
  padding-left: 40px;
  flex-shrink: 0;
  border-radius: 62px;
  border: none;
  background: var(--c-white);
  color: var(--c-silver-gray);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  outline: none;
}
.subscribe form button {
  width: 190px;
  height: 66px;
  top: 50%;
  right: 7px;
  position: absolute;
  translate: 0 -50%;
  color: var(--c-white);
  font-family: Poppins;
  font-size: 20px;
  border-radius: 62px;
  border: 0px;
  background: var(--c-burnt-orange);
}

footer {
  background: var(--c-warm-vanilla);
}
footer .footer_frame {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 65px;
  flex-wrap: wrap;
  gap: 30px;
}
footer .footer_frame p {
  max-width: 318px;
  color: var(--c-charcoal-gray);
  text-align: justify;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
footer h6 {
  color: #00052e;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 29px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
footer a {
  color: var(--c-charcoal-gray);
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer hr {
  color: #b7b7b7;
}
footer .copyright {
  width: 100%;
  padding: 25px 15px;
  text-align: center;
}
footer .copyright p {
  width: 100%;
  text-align: center;
  color: var(--c-charcoal-gray);
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
}

/*# sourceMappingURL=styles.css.map */
